body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header,
footer {
  background-color: #4ec5e6;
  padding: 2rem;
}

main {
  margin-block-end: 15rem;
}

li {
  margin-block: 1.5rem;
}

button {
  font-size: 1em;
  color: white;
  padding: 1em;
  border: 0;
  margin-block: 1rem;
  outline: none;
  background-color: lightskyblue;
  cursor: pointer;
}

.header-nav {
  margin-block-start: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.header-nav li a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border: 2px solid lightskyblue;
  border-radius: 10%;
}

#my-portal{
  background: #000;
  color: #fff;
}